.App {
  text-align: center;
}

body {
background-color: aquamarine;
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding-inline-start: 0;
  width: 90%;
  margin: 20px auto;
  
}
.todo-card {
  width: 300px;
  height: 100px;
  box-shadow: 0 3px 10px grey;
  border-radius: 6px;
  padding: 10px;
  background-color: white;
  margin: 30px;
}

.delete {
  background-color: rgb(210, 82, 107);
  font-weight: 700;
  color: aliceblue;
}